body {
    gap: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.espace-utilisateur,
.espace-utilisateur * {
    box-sizing: border-box;
}
.espace-utilisateur {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.frame-titre {
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    padding: 14px 407px 14px 407px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.historique {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
}
.frame-filtre {
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    padding: 19px 64px 19px 64px;
    display: flex;
    flex-direction: row;
    gap: 69px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.tout {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.effectu {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.en-cours {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.venir {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.frame-tableau {
    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.frame-info {
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 4px 0px;
    padding: 12px 52px 12px 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.motif-du-s-jour {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.date {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.m-decin {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.sp-cialit {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.statue {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.frame-17 {
    flex-shrink: 0;
    width: 1688px;
    height: 139px;
    position: relative;
    overflow: hidden;
}
.motif-du-s-jour2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 55px;
    top: 55px;
}
.date2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 497px;
    top: 55px;
}
.m-decin2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 819px;
    top: 55px;
}
.sp-cialit2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1185px;
    top: 55px;
}
.statue2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1564px;
    top: 55px;
}
